[Unit]
Description=FFmpeg Auto Transcoder
After=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/procesar.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
